@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.hero_body {
    background-color: #F7F7F7;
}

.gradiant_text {
    background: linear-gradient(to right, #FEA444 0%, #FC6539 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: auto;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.hand_img {
    width: auto;
    height: auto;
    margin-bottom: 1%;
}

.hero_title {
    display: inline-flex;
    flex-direction: row;
    background-color: aqua;
}

.hero_text {
    color: #001D23;
    font-family: "Yeseva One", cursive;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.0934;
    margin-bottom: 10px;
    margin-top: 0;
    white-space: pre-line;
}

.custom_word {
    background-image: url('../Images/banner-title-shape.png');
    background-size: cover;
    padding: 0 10px;
}

.donate_btn {
    color: #001D23;
    border-radius: 60px;
    border-color: #8b8383;
    font-size: 20px;
    font-weight: 500;
    width: 9vw;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3%;
}

.donate_btn:hover {
    background: linear-gradient(to right, #FEA444 0%, #FC6539 100%);
    background-color: #fc6539;
    color: #ffffff;
    transition: 0s;
}

.hero_margin {
    margin-left: 18%;
    padding-top: 6%;
}

.img_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.overlay_img {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.position-relative {
    position: relative;
}

.translate-middle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}